/* reset all */
* { 
    margin: 0;
    padding: 0;
    
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0px;
}

/* navbar */
#navbar {
background-color: rgba(53, 52, 52, 0.8);
color: #fff;
width: 100%;
position:fixed


}
#navbar a {
    color: #fff;
}
#navbar h1 {
    float: left;
    padding: 20px;
    font-weight: bold;
    margin-left: 100px;
    
}
#navbar ul {
    float: right;
    list-style: none;
}
#navbar li {
    float: left;
    }
#navbar li a {
    display: block;
    padding: 20px;
    text-align: center;
}

    #navbar ul li .current {
        background-color: #444;
    }

#navbar ul li a:hover {
    background-color: #444;
    color: rgb(247, 187, 110);
}

#navbar a {
    font-weight: bold;
}

.showcase {
    background: url("../img/showcase.jpg") no-repeat center center/cover;
     height: 500px;
}

.showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

.showcase h1 {
    font-size: 60px;
    line-height: 1.5em;
}
#top {
    color: rgb(247, 187, 110);
}

.lead   {
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 1.5em;
}
 .showcase #btn {
    background-color: rgb(7, 7, 7);
    color: #fff;
    padding: 10px 20px ;
    font-size: 20;
    border-radius: 3px;
    border: none;
    cursor: zoom-in;
}
.showcase #btn:hover {
    background: rgb(247, 187, 110);
  }

  .under-header {
    height: 400px;
     
}

 #photo {
     float: left;
    background: url("../img/serena-yard.jpg") no-repeat  ;
    height: 100%;
    width: 50%;
   
}

#photo-text {
    float: right;
    height: 240px;
    width: 50%;
    text-align: center;
    position:absolute ; right: 0px ;
    padding: 80px 20px;
    background-color: #333;
}  

.under-header h1 {
    font-size: 40px;
    line-height: 1.2em;
    color: #fff;
}

.under-header p {
    font-size: 18px;
    padding-bottom: 20px;
    color: #fff;
}

.under-header a {
    color: rgb(0, 0, 0);
    background-color: #fff;
    padding: 10px 20px;
}

.box {
    float:left;
    width: 30%;
    padding: 20px;
    padding-top: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
}

.bg-color {
    background-color: rgb(253, 187, 101);
    color: #fff;
}
 
#main-footer {
    background: #444;
    text-align: center;
    color: #fff;
    padding: 12px;
    
}
.clr{
    clear: both;
}

.space  {
    height: 66px;
    width: 100%;
}
     
#container1 h1 {
    margin-top: 50px;
}

.about #p1 {
    float: left;
    width: 50%;
    height: 300px;
    
}

.about #p1 p {
    font-size: 18px;
    margin-left: 20px;
}
.about #p2 {
    float: right;
    width: 50%;
    height: 300px;
}

.about #p1 h1 {
    font-size: 30px;
    padding-top: 20px;
    margin-left: 20px;
}

.about #p2 img {
    margin:auto;
    box-align:center;
    padding-top: 50px;
    padding-left: 130px;
    border-radius: 50%;
}


.comment {
    height: 700px;
    background: url("../img/test-bg.jpg");
    margin-top: 50px;
}

.comment  #part1  {
    background: rosybrown;
    padding: 25px;
    margin-top: 60px;
}


.comment h1 {
    font-size: 40px;
    color: #fff;
    padding-top: 30px;
    text-align: center ;
}
.comment  #part2  {
    background: rosybrown;
    padding: 25px;
    margin-top: 30px;
}

.comment #part1 img {
    border-radius: 50%;
    float: left;
    margin-top: -15px;
    margin-right: 10px;
}

.comment #part2 img {
    border-radius: 50%;
    float: left;
    margin-top: -15px;
    margin-right: 10px;
}

.contact {
    margin-left: 30px;
    margin-top: 30px;
}

.contact #form-container h1 {

    font-size: 35px;
}

.contact .boxx {
    width: 1000px;
    height: 40px;
}

.contact .form-element textarea {
    width: 1000px;
    height: 200px;
}

.contact .form-element #btnn {

    padding: 5px 15px;
    color: #fff;
    background: #444;
    margin-bottom: 20px;

}

.contact .form-element #btnn:hover {
    background:rgb(253, 187, 101);
}



